html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  overflow: hidden;
  position: relative;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto; }

main {
  position: absolute;
  top: 47.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (max-width: 410px) {
    main {
      top: 50%; } }

@-webkit-keyframes leftSlide {
  0 {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=1); }
  70% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    opacity: 1;
    filter: alpha(opacity=1); }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); } }

@keyframes leftSlide {
  0 {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=1); }
  70% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    opacity: 1;
    filter: alpha(opacity=1); }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); } }

@-webkit-keyframes rightSlide {
  0 {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=1); }
  70% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    opacity: 1;
    filter: alpha(opacity=1); }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); } }

@keyframes rightSlide {
  0 {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=1); }
  70% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    opacity: 1;
    filter: alpha(opacity=1); }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=1); } }

@-webkit-keyframes slashSquash {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1); }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  90% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes slashSquash {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1); }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  90% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes nameFade {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes nameFade {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.logo-container {
  max-width: 280px;
  margin: 0 auto;
  height: 70px; }
  .logo-container svg {
    overflow: visible; }

#logo {
  -webkit-transform: scale(2.75);
      -ms-transform: scale(2.75);
          transform: scale(2.75); }

#logo-firstname,
#logo-lastname {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  filter: alpha(opacity=0); }

#logo-firstname {
  -webkit-animation-name: leftSlide;
          animation-name: leftSlide;
  -webkit-transform: translateX(-150px);
      -ms-transform: translateX(-150px);
          transform: translateX(-150px); }

#logo-lastname {
  -webkit-animation-name: rightSlide;
          animation-name: rightSlide;
  -webkit-transform: translateX(150px);
      -ms-transform: translateX(150px);
          transform: translateX(150px); }

#logo-slash {
  -webkit-animation-name: slashSquash;
          animation-name: slashSquash;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center; }

.name-container {
  text-align: center;
  padding: 20px;
  white-space: nowrap; }
  .name-container a {
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: black;
    font-size: 14px;
    text-decoration: none;
    text-transform: lowercase; }
    .name-container a:hover {
      text-decoration: none; }
  .name-container .name-divider:before {
    content: '\2022';
    font-size: 14px;
    margin: 0 4px;
    position: relative;
    top: 1px; }
  .name-container a, .name-container .name-divider:before {
    -webkit-animation-name: nameFade;
            animation-name: nameFade;
    -webkit-animation-duration: 1.3s;
            animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden; }
  @media (max-width: 410px) {
    .name-container {
      padding-top: 30px; }
      .name-container a, .name-container .name-divider {
        display: block;
        margin-bottom: .5rem; }
      .name-container .name-divider:before {
        top: 0; } }
