* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	position: relative;
	height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
}

main {
	position: absolute;
	top: 47.5%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media(max-width: 410px) {
		top: 50%;
	}
}
