.logo-container {
	width: 280px;
  margin: 0 auto;

  svg {
  	overflow: visible;
		display: block;
  }
}

#logo-firstname,
#logo-lastname {
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	opacity: 0;
	filter: alpha(opacity=0);
}

#logo-firstname {
	animation-name: leftSlide;
	transform: translateX(-200px); //used to be 150, adjusted to account for shorter names vs. joe's wordmark
}

#logo-lastname {
	animation-name: rightSlide;
	transform: translateX(200px); //used to be 150, adjusted to account for shorter names vs. joe's wordmark
}

#logo-slash {
	animation-name: slashSquash;
	animation-duration: 0.6s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	-webkit-transform: scale(1);
	transform: scale(1);
	transform-origin: center;
}
